:root {
  --steel-color: #a8a8c0;
  --water-color: #76befe;
  --bug-color: #a8b820;
  --dragon-color: #7860e0;
  --electric-color: #ffd76f;
  --ghost-color: #6060b0;
  --fire-color: #fc6c6d;
  --fairy-color: #e79fe7;
  --ice-color: #58c8e0;
  --fighting-color: #a05038;
  --normal-color: #a8a090;
  --grass-color: #49d0b0;
  --psychic-color: #f870a0;
  --rock-color: #b8a058;
  --dark-color: #262626;
  --ground-color: #e9d6a4;
  --poison-color: #b058a0;
  --flying-color: #98a8f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark {
  background-color: var(--dark-color);
  background-image: url(../img/dark.svg);
}
.steel {
  background-color: var(--steel-color);
  background-image: url(../img/steel.svg);
}
.water {
  background-color: var(--water-color);
  background-image: url(../img/water.svg);
}
.bug {
  background-color: var(--bug-color);
  background-image: url(../img/bug.svg);
}
.dragon {
  background-color: var(--dragon-color);
  background-image: url(../img/dragon.svg);
}
.electric {
  background-color: var(--electric-color);
  background-image: url(../img/electric.svg);
}
.fairy {
  background-color: var(--fairy-color);
  background-image: url(../img/fairy.svg);
}
.fighting {
  background-color: var(--fighting-color);
  background-image: url(../img/fighting.svg);
}
.fire {
  background-color: var(--fire-color);
  background-image: url(../img/fire.svg);
}
.flying {
  background-color: var(--flying-color);
  background-image: url(../img/flying.svg);
}
.ghost {
  background-color: var(--ghost-color);
  background-image: url(../img/ghost.svg);
}
.grass {
  background-color: var(--grass-color);
  background-image: url(../img/grass.svg);
}
.ground {
  background-color: var(--ground-color);
  background-image: url(../img/ground.svg);
}
.ice {
  background-color: var(--ice-color);
  background-image: url(../img/ice.svg);
}
.normal {
  background-color: var(--normal-color);
  background-image: url(../img/normal.svg);
}
.poison {
  background-color: var(--poison-color);
  background-image: url(../img/poison.svg);
}
.psychic {
  background-color: var(--psychic-color);
  background-image: url(../img/psychic.svg);
}
.rock {
  background-color: var(--rock-color);
  background-image: url(../img/rock.svg);
}
html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
nav {
  text-align: center;
  background-color: var(--fire-color);
  width: 100%;
}
a,
.btn__more {
  text-decoration: none;
  color: inherit;
  padding: 0 1rem;
  border-radius: 1rem;
  margin: 0 0.25rem;
}
img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.title {
  position: fixed;
  top: 0;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  background-color: var(--fire-color);
  color: #fff;
  letter-spacing: 0.2rem;
  width: 100vw;
  height: 3.1rem;
}
.loader {
  width: 1.5rem;
  object-fit: contain;
}

.loading {
  display: flex;
  background-color: var(--fairy-color);
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  margin: auto;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s ease-in-out;
}
.cards {
  background-image: url(../img/pokeball.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.cards > .container__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  text-align: center;
  gap: 2rem;
  padding: 2rem;
}

.card {
  display: grid;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  max-height: 12rem;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

figcaption {
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-transform: capitalize;
}
.type0,
.type1 {
  display: block;
  background-color: #ffffff40;
  margin: 0.5rem 0;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 0.75rem;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.btn__more {
  /* width: 6rem; */
  /* margin-top: 1rem; */
  background-color: #ba9fcc85;
  cursor: pointer;
  grid-column: span 2;
  align-self: center;
  margin: 0 4rem;
}

/* -----Modal------- */
#modal {
  text-align: center;
}
.modal {
  position: fixed;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  padding: 2rem 0;
  transition: opacity 0.3s;
}

.modal__show {
  opacity: 1;
  display: flex;
  overflow-y: scroll;
}
.modal__show .modal__container {
  animation: show 0.5s 0.3s backwards;
}
@keyframes show {
  0% {
    transform: translateY(-100vh);
  }
}
.modal__title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
.modal__container {
  margin: auto;
  width: 90%;
  max-width: 20rem;
  overflow: hidden;
  text-align: center;
  padding-top: 0.25rem;
  border-radius: 1em;
}
.modal__picture {
  width: 50%;
  margin: 0 auto;
  max-width: 25rem;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spanTypes {
  display: flex;
  gap: 0.3rem;
}
.modal__img {
  width: 100%;
  display: block;
  position: relative;
  bottom: 2rem;
}
.modal__nav {
  display: flex;
  font-size: 0.85em;
  gap: 0.25em;
  justify-content: center;
  background-color: inherit;
  color: #333;
  font-weight: bold;
  padding: 0.25rem 0;
}
.slider__inputs {
  display: none;
}
.modal__navItem {
  color: #333;
  padding: 0;
  opacity: 0.5;
  border-radius: 0;
  border-bottom: 1px solid transparent;
}
#inputs-1:checked ~ #label1,
#inputs-2:checked ~ #label2,
#inputs-3:checked ~ #label3,
#inputs-4:checked ~ #label4 {
  opacity: 1;
  border-color: #333;
}
#inputs-1:checked ~ .container {
  transform: translateX(0);
}
#inputs-2:checked ~ .container {
  transform: translateX(-25%);
}
#inputs-3:checked ~ .container {
  transform: translateX(-50%);
}
#inputs-4:checked ~ .container {
  transform: translateX(-75%);
}
.container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 400%;
  transition: transform 0.5s ease-in-out;
}
.container__left {
  height: 6rem;
}
.modal__close {
  display: inline-block;
  border: 1px solid;
  padding: 0 2em;
  color: #333;
  border-radius: 0.4em;
  cursor: pointer;
  margin-bottom: 1.5rem;
  font-size: 0.85rem;
}

.container__rigth {
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  padding-top: 2rem;
}
.container__rigth label {
  cursor: pointer;
}
#about,
#baseStats,
#evolutions,
#moves {
  width: 100%;
  color: #333;
  text-align: left;
  text-transform: capitalize;
  font-size: 0.65rem;
  gap: 0.4rem;
  padding: 1rem;
  display: grid;
  font-size: 0.65em;
  font-weight: bold;
}
#about {
  grid-template-columns: repeat(2, min-content);
  white-space: nowrap;
  justify-content: left;
}
#baseStats {
  grid-template-columns: repeat(3, min-content);
  white-space: nowrap;
  align-items: center;
}
.bs__Container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bar {
  overflow: hidden;
  --width-bar: -100%;
  --bg-color: var(--fire-color);
}
.bar,
.bar::before {
  position: relative;
  width: 9rem;
  height: 0.5rem;
  background-color: #88888830;
  border-radius: 0.25rem;
}
.bar::before {
  content: "";
  position: absolute;
  background-color: var(--bg-color);
  transition: transform 1s linear;
  transform: translateX(var(--width-bar));
}
#about p {
  text-align: left;
}

#about > p > span {
  margin-left: 2rem;
}
#evolutions {
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  gap: 1rem;
}

#evolutions figure img {
  object-fit: contain;
  height: 4rem;
}
#evolutions figure {
  height: 100%;
}
#evolutions > .arrow {
  height: 1rem;
  font-size: 0.7rem;
}
#evolutions > .arrow > img {
  height: 100%;
}

#moves {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  height: 13rem;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

@media (min-width: 768px) {
  .bar,
  .bar::before {
    width: 11rem;
  }
}
